<div id="app-login" data-testid="app-login">
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="requestAuthToken()">
    <div class="form-group">
      <label for="username">Username</label>
      <br>
      <input
        required
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="password-wrapper">
        <input
          required
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter your password"
        />
        <span class="toggle-password" style="cursor: pointer;" (click)="togglePasswordVisibility()">
          {{ showPassword ? '👁️‍🗨️' : '👁️' }}
        </span>
      </div>
    </div>
    <br>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      [style.cursor]="loginForm.invalid ? 'not-allowed' : 'pointer'"
    >
      Login
    </button>
  </form>
</div>
